.carousel {
    width: 100%;
    min-height: 550px;
    padding: 0px;
    margin: 0px;
    position: relative;

    :global(.imageCarousel) {
        width: 100vw !important;
        max-width: 100vw !important;
        margin: 0px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(/carousel/home.jpg), #C4C4C4;
        z-index: -1;
        position: absolute;
        top:0px;
        left:0px;
    }

    :global(.carouselTitle) {
        color: #fff;
        width: 60%;
        margin-left: 20%;
        text-align: center;
        font-weight: bold;
        font-size: 4em;
        margin-top: 30px;
        display: inline-block;
    }

    :global(.carouselDescription) {
        color: #fff;
        margin-left: 20%;
        text-align: center;
        width: 60%;
        font-size: 1.4em;
        margin-top: 3vh;
    }
}